/* Raw Colors */
$screaming-green: #5ffa45;
$not-quite-black: #23272a;
$shark: #2c2f33;
$elmo: #ff0000;
$white: #ffffff;
$grayish: #e8e8e8;
$silver: #cbcbcb;
$gallery: #eaeaea;
$mineshaft: #212121;

/* Common Palette */
$primary: $screaming-green;